ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size:30px;
    color: white;
    padding: 10px;

}

.fa-linkedin:hover{
    color: black;
    font-size: 40px;
}

.fa-github:hover{
    color: black;
    font-size: 40px;
}