#img-bg{
    background-image: url('https://i.imgur.com/0UiGyt4.jpg');
    min-height: 797px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login{
    position: relative;
}